* {
    overflow-x: hidden;
}

body {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.row div{
    /*background-color: lightgrey;*/
    /*border: solid darkgray;*/
}

.title-top {
    margin-top: 20px;
    text-align: center;
    color: #1F72A5;
}

.title-bottom {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    overflow-y: hidden;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(241, 138, 79, 0.75), rgba(0, 0, 0, 0));
}

.asset-list {
    margin-top: 10px;
}

.container-centered{
    text-align: center;
}

.twitter-timeline{
    margin: 0 auto;
}

.fb-page{
    margin: 0 auto;
    width: 100%;
}

.text-centered{
    text-align: center;
}

.video{
    margin: 0 auto;
    width: 600px;
}

@media only screen and (max-width: 770px) {
    body {
        margin-bottom: 150px;
    }
    .video{
        width: 400px;
        height: 245px;
    }
}

@media only screen and (max-width: 450px) {
    .video{
        width: 270px;
        height: 165px;
    }
}